.progressButton {
    background: rgb(119, 238, 223);
    color: rgb(0, 0, 0);
    border: none;
    position: relative;
    height: 60px;
    padding: 0 1em;
    cursor: pointer;
    transition: 100ms ease all;
    outline: none;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 10rem;
}

.key {
    color: #f3f3f4;
    border-radius: 6px;
    background: #14110f;
    box-sizing: border-box;
    user-select: none;
  }
  


.menuhikey{
    color: #f3f3f4;
    font-size: 2rem;
    font-weight: bold;
    width: 30mm;
    height: 30mm;
    margin-right: 1.5mm;
    margin-left: 1.5mm;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.nonhikey{
    color: #f3f3f4;
    font-size: 2rem;
    font-weight: bold;
    width: 30mm;
    height: 30mm;
    margin-right: 1.5mm;
    margin-left: 1.5mm;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.menuhikey:active,
.menuhikey:visited,
.menuhikey:hover,
.nonhikey:active,
.nonhikey:visited,
.nonhikey:hover{
    background: lime;
    border: lime; 
}


.key:hover {
    cursor: pointer;
}
  